<form method="POST">
    {{ form.hidden_tag() }}
    
    <p>
        {{ form.titulo.label }}<br>
        {{ form.titulo() }}
    </p>

    <p>
        {{ form.autor.label }}<br>
        {{ form.autor() }}
    </p>

    <p>
        {{ form.genero.label }}<br>
        {{ form.genero() }}
    </p>

    <p>
        {{ form.anio_publicacion.label }}<br>
        {{ form.anio_publicacion() }}
    </p>

    <br>

    <div>
        {{ form.submit() }}
        <a href="{{ url_for('libros.listar') }}">Cancelar</a>
    </div>
</form>